/**/
html, body {
  background-color: #efeff4;
}
/*外边距*/
.marg-bottom-15px{
  margin-bottom: 15px;
}
/*浮动*/
.pull-right{
  float:right
}
.pull-left{
  float:left
}
.clearfix:after,.clearfix:before{
  display:table;
  content:' ';
}
.clearfix:after{
  clear:both;
}
.ellipsis{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis
}
.mint-navbar .mint-tab-item.is-selected {
  margin-bottom: 0 !important;
}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
  line-height: 21px;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding: 10px 15px;
  -webkit-user-select: text;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  outline: 0;
  background-color: #fff;
  -webkit-appearance: none;
}

/*选项卡样式*/
#sliderSegmentedControl{
  background: #fff;
}
.mui-fullscreen{
  top:5.2rem!important;
}
.mui-segmented-control{
  display: block!important;
}
.mui-control-item{
  line-height: 0.9rem!important;
  font-size: 0.373rem;
  width: 32%!important;
  color: rgb(34,34,34)!important;
  position: relative;
}
.mui-segmented-control.mui-scroll-wrapper .mui-scroll{
  width: 100%!important;
}
.mui-segmented-control.mui-scroll-wrapper{
  height: 0.9rem!important;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
  color: rgb(204,40,40) !important;
  border-bottom: none !important;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active:after{
  position: absolute;
  width: 80%;
  height: 1px;
  content: "";
  bottom:0;
  left: 10%;
  background: rgb(204,40,40);
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
  border-top: 0!important;
  border-bottom: 0!important;
}
.mui-fullscreen .mui-segmented-control~.mui-slider-group{
  top:0.98rem!important;
}
/*分享弹出层*/
.msg1{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  position: fixed;
  z-index: 9;
  display: none;
}
/*分享弹出层详情*/
.msg1 .share{
  position: absolute;
  top:0.05rem;
  right: 0.94rem;
}
.msg1 .share>img{
  width: 4.226rem;
  height: 4.906rem;
  display: block;
}
/*关注弹出层详情*/
.msg1 .followboxs {
  width: 6rem;
  background: #fff;
  padding-top: 0.506rem;
  padding-bottom: 0.48rem;
  border-radius: 0.16rem;
  margin: 4.8rem  auto;
  position: relative;

}
.msg1 .followboxs .imgs1{
  width: 3.4rem;
  height: 3.4rem;
  display: block;
  margin: 0 auto;
}
.msg1 .followboxs p{
  font-size: 0.346rem;
  line-height: 0.346rem;
  margin-bottom: 0.25rem;
  color: #000;
  text-align: center;
}
.msg1 .followboxs p:nth-of-type(1){
  margin-top: 0.32rem;
}
.msg1 .followboxs p>span{
  color: rgb(226,40,40);
}
.msg1 .followboxs .btn{
  width: 2.506rem;
  height: 0.613rem;
  line-height: 0.613rem;
  text-align: center;
  font-size: 0.373rem;
  border-radius: 0.306rem;
  margin: 0 auto;
  margin-top: 0.6rem;
  border: 1px solid rgb(1,1,1);
}
/*边框图片装饰*/
.borderimg{
  position: absolute;
  top: 0.133rem;
  left: 0.133rem;
}
.borderimg2{
  position: absolute;
  top: 0.133rem;
  right: 0.133rem;
}
.borderimg3{
  position: absolute;
  bottom: 0.133rem;
  left: 0.133rem;
}
.borderimg4{
  position: absolute;
  bottom: 0.133rem;
  right: 0.133rem;
}
.borderimg img,
.borderimg2 img,
.borderimg3 img,
.borderimg4 img
{
  width: 0.466rem;
  height: 0.506rem;
  display: block;
}

/*作品描述字段*/
.textconent{
  font-size: 0.346rem;
  color: #666;
  padding:0.4rem  0;
  display: block;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 0;
}
/*头像公用样式*/
.tab1top{
  margin-bottom: 0.4rem;
}

.tab1top img{
  width: 0.693rem!important;
  height: 0.693rem;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 0.266rem;
}
.tab1top >span{
  font-size: 0.346rem;
  color: rgb(34,34,34);
}
/*点赞样式*/
.pointer img{
  width: 0.466rem!important;
  height: 0.466rem;
  display: inline-block;
  vertical-align: sub;
  margin-right: 0.18rem;
}
